.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-color: brown;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroTitleContainer {
  width: 20vw;
  background-color: blue;
}

.heroTitle {
  color: white
}

.heroSubTitle {
  color: white
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeading {
  height: 200px;
  width: 60vw;
  margin-top: 50px;
  background-color: aqua;
}

.contentHeadingTitle {
  color: white
}

.contentHeadingText {
  color: white
}

.contentMain {
  width: 60vw;
  padding: 50px 0;
  background-color: rgb(95, 68, 168);
}

.contentMainTitle {
  text-align: center;
  color: white;
}

.employeeDiv {
  width: 60vw;
  border: 1px dotted white;
  display: flex;
  /* padding: 2vw; */
  justify-content: center;
  align-items: center;
}

.employeeImgDiv {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: brown;
  background-size: cover;
  background-position: center;
}

.employeeDataDiv {
  width: 47vw;
  background-color: rgb(57, 209, 26);
}

.deviderDiv {
  width: 20vw;
  height: 8px;
  background-color: yellow;
  margin: auto;
}

.galeryContentDiv {
  padding-top: 0.5vw;
  width: 60vw;
  background-color: rgb(53, 9, 248);
}

.galleryTitle {
  color: white;
}

.galleryMainImg {
  background-color: brown;
  background-size: cover;
  background-position: center;
  width: 60vw;
  height: 40vw;
}