.navBarContainer {
    width: 50vw;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 5px solid yellow;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    transition: all 1s linear;
}

.navBarContainerHide {
    width: 50vw;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 5px solid yellow;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100vw;
    transition: all 0.2s linear;
    top: 10px;
}

.navBarContainerShow {
    width: 50vw;
    height: 50px;
    background-color: rgb(255, 0, 0);
    color: black;
    border: 5px solid yellow;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transition: all 0.2s linear;
    top: 10px;
}