.navBarContainer {
    background-color: red;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.navBarHide {
    width: 50vw;
    height: 50px;
    color: black;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    margin-right: -50vw;
}

.navBarShow {
    width: 50vw;
    height: 50px;
    color: black;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

.hamBtn {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    margin-right: 15px;
}